# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target/classes/webapp/activationPage.html
/Users/skynet/IdeaProjects/web-appDecember/src/main/by/itstep/stpnbelko/homework/dao/impl/UsersDAO.java
/src